</main>
<footer class="text-center">
  <div class="row align-items-center">
    <div class="col nav-item">
      <!-- <input class="nav-link" type="submit" value="Salvar"> -->
    </div>
  </div>
</footer>

<script src="scripts.js"></script>
</html>