</main>
<footer class="text-center">
  <div class="row align-items-center">
    <div class="col nav-item">
      <a href="/inicioHoje" class="nav-link">Hoje</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="/inicioSuporte">Suporte</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="/inicioTratamento">Tratamento</a>
    </div>
  </div>
</footer>
<script src="scripts.js"></script>
</html>