<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Consulta</title>
    <style>
      body {
        background-color: #c3e1fff4;
      }
    </style>
</head>

<body>
  <div class="container">

<header class="border-bottom py-3 fixed-top">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="text-center">
      <a class="blog-header-logo text-white text-decoration-none" href="/suporte"><h2>Novo consulta</h2></a>
    </div>
  </div>
</header>

<main class="mt-5 py-5">
    
        <form class="form" action="/addConsulta" method="post">
          <div class="mt-2 form-group text-center">
            <h4 class="form-heading">Especialidade:</h4>
            <input type="text" class="form-control" name="especialidade" id="especialidade" placeholder="Especialidade do profissional" required>
                <div class="invalid-feedback">
                  Por favor, informar uma especialidade.
                </div>
          </div>

          <div class="mt-2 form-group text-center">
            <h4 class="form-heading">Anotações:</h4>
            <input type="text" class="form-control" name="anotacoes" id="anotacoes" placeholder="Anotações">
          </div>
          
          <div class="form-group text-center">
            <h4 class="form-heading">Data:</h4>
                <div class="d-flex flex-column container">
                  <input class="form-select" type="date" id="data" name="data" required>
                </div>
          </div>
          <div class="form-group text-center">
            <h4 class="form-heading">Horário:</h4>
                <div class="d-flex flex-column container">
                  <input class="form-select" type="time" id="horario" name="horario" required>
                </div>
          </div>  
          
          <div class="container">
            <footer class="border-bottom py-2 fixed-bottom text-center">
            <div class="row align-items-center">
              <button id="formAddConsulta" class="btn w-100 text-white" type="submit">Salvar</button>
            </div>
          </footer>
        </div>

        </form>

      </main>
    </div>
    
    
    <script src="scripts.js"></script>
      
    </body>
    </html>