<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alarme</title>
</head>
<body>
  <h1>Está na hora de tomar seu medicamento!</h1>
  <audio id="alarmAudio" src="audio-alarme/alarme-aviso.mp3" autoplay></audio>
</body>
</html>
