<%- include("partials/headerMain.ejs") %>

</div>

<div class="container">
  <div class="row">
    <% 
      // Ordenar os lembretes pelo horário
      lembretes.sort((a, b) => {
        return new Date('1970/01/01 ' + a.horario) - new Date('1970/01/01 ' + b.horario);
      });

      lembretes.forEach((lembrete) => { %>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Medicamento: <%= lembrete.nome_medicamento %></h5>
              <p class="card-text">Horário: <%= lembrete.horario %></p>
            </div>
          </div>
        </div>
      <% }) %>
  </div>
</div>

  <%- include("partials/footerMain.ejs") %>