<%- include("partials/headerMain.ejs") %>

<div class="text-center bg-body-tertiary rounded-3">
    <h1 class="container text-body-emphasis">Bem vindo(a)!</h1>
    <div class="grid row gap-2 align-items-center justify-content-center px-3">
      <button class="d-flex align-items-center btn btn-outline-secondary btn-lg py-1 rounded-2" type="button">
        <a href="/login" class="nav-link">Já possui cadastro? Clique aqui!</a>
      </button>
      <button class="btn btn-outline-secondary btn-lg py-1 rounded-2" type="button">
        <a href="/signup" class="nav-link">Ainda não tem cadastro? Faça sua inscrição agora!</a>
      </button>
    </div>
  </div>

  <%- include("partials/footerAdd.ejs") %>