<%- include("partials/headerMain.ejs") %>

<div class="">
  <div class="position-relative text-center text-muted bg-body">
    <h1 class="text-body-emphasis">Comece agora!</h1>
    <p class="col-lg-6 mx-auto mb-4">
      Adicione lembretes para as suas medicações, fique atento ao seu inventário e muito mais.
    </p>
    <button class="btn border px-5" type="button">
      <a href="/addLembrete" class="nav-link">Adicionar primeiro lembrete</a>
    </button>
  </div>
</div>

  <%- include("partials/footerMain.ejs") %>