<%- include("partials/headerMain.ejs") %>

<div class="">
  <div class="position-relative text-center text-muted bg-body">
    <h1 class="text-body-emphasis">Veja seus lembretes aqui</h1>
    <p class="col-lg-6 mx-auto mb-4">
      Seus lembretes diários serão exibidos aqui, quando você adicioná-los na aba de Tratamento.
    </p>
    <button class="btn border px-5" type="button">
      <a class="nav-link" href="/inicioTratamento">Ir para Tratamento</a>
    </button>
  </div>
</div>

  <%- include("partials/footerMain.ejs") %>